// imports variables and mixins
@import "abstracts/_variables";
@import "abstracts/mixins";

// set default utilites
@import "base/_reset";

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
}

// Component Styles
.game-selector {
  @include background-gradient;
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  padding: 94px 94px 93px 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: $spacing-gap;

  &__modal {
    width: 640px;
    height: 134px;
    border-radius: $radius-2xl;
    background: $color-surface-primary-50;
    padding: $spacing-md $spacing-2xl;
    @include flex-container(column, center, center, 12px);

    &__header {
      @include flex-container(row, flex-start, center);
      width: 592px;

      &__icon {
        margin: auto 0;
      }

      &__title {
        padding-left: 12px;
        color: $text-primary;
        font-size: $display-medium-small-size;
        font-style: normal;
        font-weight: 500;
        line-height: $display-medium-small-line-height;
        letter-spacing: $display-medium-small-tracking;
      }
    }
  }

  &__panel {
    width: 640px;
    height: 743px;
    @include flex-container(column, flex-start, flex-start);

    &__time-preview {
      border-radius: $radius-2xl $radius-2xl $radius-null $radius-null;
      border: 3px solid $stroke-primary-80;
      background: $surface-primary-50;
      height: 239px;
      width: 100%;
      margin-bottom: -44px;
      padding: $spacing-md $spacing-2xl;

      &__duration {
        margin-top: 44px;
        color: $text-primary-dark;
        text-align: center;
        font-size: $headline-medium-medium-size;
        font-style: normal;
        font-weight: 500;
        line-height: $headline-medium-medium-line-height;
        letter-spacing: $headline-medium-medium-tracking;
        @include flex-container(row, space-between, center);
        font-family: $font-family-base;

        &__start {
          padding: 0 $spacing-md;
        }
        &__end {
          padding: 0 $spacing-md;
        }
      }

      &__timeline {
        padding-top: $spacing-xl;
      }
    }

    &__duration-setter {
      border-radius: $radius-2xl;
      padding: $spacing-2xl;
      background: $surface-primary-light;
      backdrop-filter: blur(10px);
      height: 548px;
      width: 100%;
      @include flex-container(column, space-between);

      &__content {
        @include flex-container(column, flex-start, center, $spacing-md);
        text-align: center;
        color: $text-primary;
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 500;
        line-height: $headline-medium-medium-size;
        letter-spacing: $display-medium-small-tracking;
        width: 100%;
        height: 100%;

        &__question {
          color: #141414;
          text-align: center;

          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 133.333% */
          letter-spacing: -0.1px;
          padding-top: $padding-lg;
          padding-bottom: $padding-6xl;
        }

        &__hours {
          color: $text-primary-dark;
          text-align: center;
          font-size: 96px;
          font-style: normal;
          font-weight: 500;
          line-height: 56px;
          letter-spacing: -0.1px;
          // padding-bottom: 14px;
        }
        &__unit {
          color: #141414;
          text-align: center;
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 40px; /* 111.111% */
          letter-spacing: -0.1px;
          padding-bottom: 14px;
        }
        &__instruction {
          color: rgba(20, 20, 20, 0.7);
          text-align: center;

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0;
          padding-bottom: $padding-lg;
        }
        &__slider-desktop {
          width: 100%;
          height: 39px;
          border-radius: 9999px;
          background: rgba(33, 105, 219, 0.1);
          // background-color: red;
        }
        // &__instruction {
        //   color: var(--Text-Primary-text-primary-70, rgba(20, 20, 20, 0.7));
        //   text-align: center;

        //   /* Body/Medium/Medium */
        //   font-family: "TT Hoves Pro";
        //   font-size: var(--Body-Medium-Medium-Size, 16px);
        //   font-style: normal;
        //   font-weight: 500;
        //   line-height: var(--Body-Medium-Medium-Line-Height, 22px); /* 137.5% */
        //   letter-spacing: var(--Body-Medium-Medium-Tracking, 0);
        // }
      }

      &__actions {
        @include flex-container(column, center, center, $spacing-md);
        align-self: stretch;
        flex-wrap: wrap;

        &__recommendation {
          margin: 0;
          color: $text-primary;
          font-family: $font-family-base;
          font-size: $font-size-base;
          font-style: normal;
          font-weight: 500;
          line-height: $title-medium-medium-line-height;
        }
        &__continue-button {
          @include flex-container(row, center, center);
          height: 72px;
          width: 100%;
          padding: $spacing-xl $spacing-6xl;
          border-radius: $radius-xl;
          border: 1px solid $button-primary-outline;
          background: $button-primary-default;
          color: white;
          text-align: center;
          font-size: $title-demibold-large-size;
          font-style: normal;
          font-weight: 600;
          line-height: $title-demibold-large-line-height;
          letter-spacing: $title-demibold-large-tracking;
        }
      }
    }
  }
}
