@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves-Medium.woff") format("woff"), url("../fonts/TTHoves-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-DemiBold.woff2") format("woff2"), url("../fonts/TTHoves-DemiBold.woff") format("woff"), url("../fonts/TTHoves-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Bold.woff2") format("woff2"), url("../fonts/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 767px) {
  .game-selector__panel__duration-setter__content__slider-mobile {
    display: none;
  }
  .game-selector__panel__duration-setter__content__timeframe-mobile {
    display: none;
  }
}
body {
  font-family: "TT Hoves", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.game-selector {
  background: linear-gradient(180deg, #f0f6ff -14.2%, #f3f3f3 108.41%);
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  padding: 94px 94px 93px 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}
.game-selector__modal {
  width: 640px;
  height: 134px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.5);
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.game-selector__modal__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 592px;
}
.game-selector__modal__header__icon {
  margin: auto 0;
}
.game-selector__modal__header__title {
  padding-left: 12px;
  color: #212121;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.1px;
}
.game-selector__panel {
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}
.game-selector__panel__time-preview {
  border-radius: 24px 24px 0 0;
  border: 3px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.5);
  height: 239px;
  width: 100%;
  margin-bottom: -44px;
  padding: 12px 24px;
}
.game-selector__panel__time-preview__duration {
  margin-top: 44px;
  color: #141414;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-family: "TT Hoves", sans-serif;
}
.game-selector__panel__time-preview__duration__start {
  padding: 0 12px;
}
.game-selector__panel__time-preview__duration__end {
  padding: 0 12px;
}
.game-selector__panel__time-preview__timeline {
  padding-top: 20px;
}
.game-selector__panel__duration-setter {
  border-radius: 24px 24px 0 0;
  padding: 24px;
  background: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.game-selector__panel__duration-setter__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  text-align: center;
  color: #212121;
  font-family: "TT Hoves", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 100%;
  height: 100%;
}
.game-selector__panel__duration-setter__content__question {
  color: #141414;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.1px;
  padding-top: 16px;
  padding-bottom: 40px;
}
.game-selector__panel__duration-setter__content__hours {
  color: #141414;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.1px;
}
.game-selector__panel__duration-setter__content__unit {
  color: #141414;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 111.111% */
  letter-spacing: -0.1px;
  padding-bottom: 14px;
}
.game-selector__panel__duration-setter__content__instruction {
  color: rgba(20, 20, 20, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0;
  padding-bottom: 16px;
}
.game-selector__panel__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  padding: 24px;
  background: white;
}
.game-selector__panel__actions__recommendation {
  margin: 0;
  color: #212121;
  font-family: "TT Hoves", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.game-selector__panel__actions__continue-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 72px;
  width: 100%;
  padding: 20px 40px;
  border-radius: 12px;
  border: 1px solid #7aa5e9;
  background: #2169db;
  color: white;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.1px;
}

.game-selector__panel__duration-setter__slider-desktop {
  height: 39px;
  border-radius: 9999px;
  background: rgba(33, 105, 219, 0.1);
}
.game-selector__panel__duration-setter__slider-desktop .slider-desktop__stepper {
  width: 592px;
}
.game-selector__panel__duration-setter__slider-desktop .slider-desktop__stepper__track {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(33, 105, 219, 0.1);
  border-radius: 999px;
  padding: 0 10px;
  height: 8px;
  margin-top: 15.5px;
  margin-left: 12px;
  margin-right: 12px;
}
.game-selector__panel__duration-setter__slider-desktop .slider-desktop__stepper__fill {
  position: absolute;
  top: 50%;
  left: 0;
  height: 8px;
  background: #226de9;
  border-radius: 999px;
  transform: translateY(-50%);
  z-index: 1;
  width: 0;
  transition: width 0.3s ease;
}
.game-selector__panel__duration-setter__slider-desktop .slider-desktop__stepper__step {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.game-selector__panel__duration-setter__slider-desktop .slider-desktop__stepper__step.active .slider-desktop__stepper__circle {
  width: 18px;
  height: 18px;
}
.game-selector__panel__duration-setter__slider-desktop .slider-desktop__stepper__circle {
  width: 16px;
  height: 16px;
  background: #226de9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.game-selector__panel__duration-setter__slider-desktop .slider-desktop__stepper__circle--recommended {
  border: 3px solid #e4ecfa;
}/*# sourceMappingURL=main.css.map */