// imports variables and mixins
@import "abstracts/_variables";
@import "abstracts/_mixins";

// set default utilites
@import "base/_reset";

* {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
}

// responsive quieres
@media (max-width: 767px) {
  .game-selector__modal__desktop-stepper {
    display: none;
  }

  .game-selector__panel__time-preview {
    display: none;
  }

  .game-selector__panel__duration-setter__slider-desktop {
    display: none;
  }
}

.game-selector {
  @include background-gradient;
  height: 100vh;
}

.game-selector__modal {
  &__header {
    @include flex-container(row, flex-start, center, $spacing-md);
    position: relative;
    height: 56px;
    // background: red;
    padding: $padding-lg;
    &__title {
      margin: auto;
      color: $text-primary;
      text-align: center;

      font-size: $title-demibold-large-size;
      font-style: normal;
      font-weight: 600;
      line-height: $title-demibold-large-line-height;
      letter-spacing: $title-demibold-large-tracking;
      padding-right: 24px;
    }
    &::after {
      content: "";
      background-color: #007bff; // Blue line
      height: 2px;
      width: 30%; // 30% of the header width
      display: block;
      position: absolute;
      border-radius: 0px 20px 20px 0px;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}
.game-selector__panel {
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  // height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__duration-setter__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__question {
      color: $text-primary;
      text-align: center;
      font-size: $body-medium-medium-size;
      font-style: normal;
      font-weight: 500;
      line-height: $body-medium-medium-line-height;
      letter-spacing: $body-medium-medium-tracking;
      padding-top: 24px;
    }
    &__hours {
      color: $text-primary;
      text-align: center;
      font-size: 96px;
      font-style: normal;
      font-weight: 500;
      line-height: $display-medium-large-line-height;
      padding-top: 40px;
    }
    &__unit {
      color: $text-primary;
      text-align: center;
      font-size: $display-medium-small-size;
      font-style: normal;
      font-weight: 500;
      line-height: $display-medium-small-line-height;
      letter-spacing: $display-medium-small-tracking;
      padding-top: 14px;
    }

    &__timeframe-mobile {
      margin-top: 24px;
      margin-bottom: 36px;
      position: relative;

      &__tooltip {
        position: absolute;
        top: -4px;
        left: 45%;
        z-index: 5;

        color: $text-primary-30;
        font-size: $body-medium-medium-size;
        font-style: normal;
        font-weight: 500;
        line-height: $body-medium-medium-line-height;
        letter-spacing: $body-medium-medium-tracking;
        text-align: left;

        padding: 0 12px;
        border-radius: 30px;
        background: white;
        span {
          color: $text-primary-dark;

          font-size: $body-medium-medium-size;
          font-style: normal;
          font-weight: 500;
          line-height: $body-medium-medium-line-height;
          letter-spacing: $body-medium-medium-tracking;
        }
      }
      .timeframe-mobile_wrapper {
        position: relative;
        .timeframe_mobile {
          width: 100%;
        }
        .stadium-bg-mobile {
          position: absolute;
          top: 0;
          left: 50%; // start from middle
          transform: translateX(-50%); // shift it back half of its width
          z-index: 2;
          max-width: 214px;
          width: 100%;
          height: 90%;
          border-radius: 78px;
          overflow: hidden;
        }
        .stadium-icon-mobile {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-180%, -50%);
          z-index: 3;
          // max-width: 48px;
        }
      }
      &__duration {
        @include flex-container(row, space-between, center, $spacing-md);
        position: relative;
        margin-top: 18px;
        &__start,
        &__end {
          color: $text-primary-dark;
          font-size: $title-medium-large-size;
          font-style: normal;
          font-weight: 500;
          line-height: $title-medium-large-line-height;
          letter-spacing: $title--medium-large-tracking;
          margin: 0 $padding-md;
        }
      }
    }
    &__instruction {
      color: #242424;
      text-align: center;
      font-size: $body-medium-medium-size;
      font-style: normal;
      font-weight: 500;
      line-height: $body-medium-medium-line-height;
      letter-spacing: $body-medium-medium-tracking;
      margin-bottom: 32px;
    }
  }
  &__actions {
    @include flex-container(column, flex-start, center, 0);
    &__recommendation {
      color: #242424;
      text-align: center;
      font-size: $label-medium-size;
      font-style: normal;
      font-weight: 500;
      line-height: $label-medium-line-height;
      letter-spacing: $label-medium-tracking;
      opacity: 0.54;
      margin-top: 8px;
    }
    &__continue-button {
      color: white;
      display: flex;
      padding: $padding-lg;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: $radius-md;
      background: $button-primary-default;
      margin-top: 16px;
    }
  }
}

$bg-track-mobile: rgba(33, 105, 219, 0.1);
$bg-fill-mobile: #226de9;
$bg-fill-light-mobile: #e4ecfa;
$primary-mobile: #2169db;
$step-size-mobile: 11px;
$active-size-mobile: 48px;

.game-selector__panel__duration-setter__content__slider-mobile {
  height: 68px;
  border-radius: 99px;
  width: 100%;
  background: $surface-secondary-accent-10;
  margin-bottom: $padding-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .slider-mobile__tooltip {
    position: absolute;
    left: 0;
    top: -32px;
  }

  .slider-mobile__stepper {
    width: 100%;
    // max-width: 320px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 48px;

    &__track {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 12px;
    }

    &__fill {
      position: absolute;
      top: 50%;
      left: 0;
      height: 6px;
      background: $bg-fill-mobile;
      border-radius: 999px;
      transform: translateY(-50%);
      z-index: 1;
      width: 0; // Updated by JS
      // transition: width 0.3s ease;
    }

    &__step {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      cursor: pointer;

      height: 48px;
      width: 48px;

      // &:first-child .slider-mobile__stepper__circle {
      //   width: $active-size-mobile;
      //   height: $active-size-mobile;
      //   background: $primary-mobile;
      //   border: none;
      // }

      // &:not(:first-child) .slider-mobile__stepper__circle {
      //   width: $step-size-mobile;
      //   height: $step-size-mobile;
      //   background: $bg-fill-mobile;
      // }
      .slider-mobile__stepper__circle {
        width: $step-size-mobile;
        height: $step-size-mobile;
        background: $bg-fill-mobile;
      }

      &.selected .slider-mobile__stepper__circle {
        width: $active-size-mobile;
        height: $active-size-mobile;
        background: $bg-fill-mobile;
        border: 9px solid rgba(0, 0, 0, 0.1);
      }

      .slider-desktop__stepper__circle--recommended {
        background: none;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__circle {
      border-radius: 50%;
      position: absolute; // Center within step
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &--recommended {
        border: 3px solid $bg-fill-light-mobile;
      }
    }
  }
}
