@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves-Medium.woff") format("woff"), url("../fonts/TTHoves-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-DemiBold.woff2") format("woff2"), url("../fonts/TTHoves-DemiBold.woff") format("woff"), url("../fonts/TTHoves-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Bold.woff2") format("woff2"), url("../fonts/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "TT Hoves", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .game-selector__modal__desktop-stepper {
    display: none;
  }
  .game-selector__panel__time-preview {
    display: none;
  }
  .game-selector__panel__duration-setter__slider-desktop {
    display: none;
  }
}
.game-selector {
  background: linear-gradient(180deg, #f0f6ff -14.2%, #f3f3f3 108.41%);
  height: 100vh;
}

.game-selector__modal__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  position: relative;
  height: 56px;
  padding: 16px;
}
.game-selector__modal__header__title {
  margin: auto;
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.1px;
  padding-right: 24px;
}
.game-selector__modal__header::after {
  content: "";
  background-color: #007bff;
  height: 2px;
  width: 30%;
  display: block;
  position: absolute;
  border-radius: 0px 20px 20px 0px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.game-selector__panel {
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game-selector__panel__duration-setter__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game-selector__panel__duration-setter__content__question {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
  padding-top: 24px;
}
.game-selector__panel__duration-setter__content__hours {
  color: #212121;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  padding-top: 40px;
}
.game-selector__panel__duration-setter__content__unit {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.1px;
  padding-top: 14px;
}
.game-selector__panel__duration-setter__content__timeframe-mobile {
  margin-top: 24px;
  margin-bottom: 36px;
  position: relative;
}
.game-selector__panel__duration-setter__content__timeframe-mobile__tooltip {
  position: absolute;
  top: -4px;
  left: 45%;
  z-index: 5;
  color: rgba(20, 20, 20, 0.3);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  padding: 0 12px;
  border-radius: 30px;
  background: white;
}
.game-selector__panel__duration-setter__content__timeframe-mobile__tooltip span {
  color: #141414;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
}
.game-selector__panel__duration-setter__content__timeframe-mobile .timeframe-mobile_wrapper {
  position: relative;
}
.game-selector__panel__duration-setter__content__timeframe-mobile .timeframe-mobile_wrapper .timeframe_mobile {
  width: 100%;
}
.game-selector__panel__duration-setter__content__timeframe-mobile .timeframe-mobile_wrapper .stadium-bg-mobile {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  max-width: 214px;
  width: 100%;
  height: 90%;
  border-radius: 78px;
  overflow: hidden;
}
.game-selector__panel__duration-setter__content__timeframe-mobile .timeframe-mobile_wrapper .stadium-icon-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-180%, -50%);
  z-index: 3;
}
.game-selector__panel__duration-setter__content__timeframe-mobile__duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  margin-top: 18px;
}
.game-selector__panel__duration-setter__content__timeframe-mobile__duration__start, .game-selector__panel__duration-setter__content__timeframe-mobile__duration__end {
  color: #141414;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.1px;
  margin: 0 12px;
}
.game-selector__panel__duration-setter__content__instruction {
  color: #242424;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
  margin-bottom: 32px;
}
.game-selector__panel__actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.game-selector__panel__actions__recommendation {
  color: #242424;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
  opacity: 0.54;
  margin-top: 8px;
}
.game-selector__panel__actions__continue-button {
  color: white;
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  background: #2169db;
  margin-top: 16px;
}

.game-selector__panel__duration-setter__content__slider-mobile {
  height: 68px;
  border-radius: 99px;
  width: 100%;
  background: rgba(33, 105, 219, 0.1);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__tooltip {
  position: absolute;
  left: 0;
  top: -32px;
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 48px;
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper__track {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper__fill {
  position: absolute;
  top: 50%;
  left: 0;
  height: 6px;
  background: #226de9;
  border-radius: 999px;
  transform: translateY(-50%);
  z-index: 1;
  width: 0;
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper__step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
  height: 48px;
  width: 48px;
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper__step .slider-mobile__stepper__circle {
  width: 11px;
  height: 11px;
  background: #226de9;
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper__step.selected .slider-mobile__stepper__circle {
  width: 48px;
  height: 48px;
  background: #226de9;
  border: 9px solid rgba(0, 0, 0, 0.1);
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper__step .slider-desktop__stepper__circle--recommended {
  background: none;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper__circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game-selector__panel__duration-setter__content__slider-mobile .slider-mobile__stepper__circle--recommended {
  border: 3px solid #e4ecfa;
}/*# sourceMappingURL=mobile.css.map */