// import font
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Regular.woff2") format("woff2"),
    url("../fonts/TTHoves-Regular.woff") format("woff"),
    url("../fonts/TTHoves-Regular.ttf") format("truetype");
  font-weight: normal; // 400
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Medium.woff2") format("woff2"),
    url("../fonts/TTHoves-Medium.woff") format("woff"),
    url("../fonts/TTHoves-Medium.ttf") format("truetype");
  font-weight: 500; // Medium
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-DemiBold.woff2") format("woff2"),
    url("../fonts/TTHoves-DemiBold.woff") format("woff"),
    url("../fonts/TTHoves-DemiBold.ttf") format("truetype");
  font-weight: 600; // DemiBold
  font-style: normal;
}

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Bold.woff2") format("woff2"),
    url("../fonts/TTHoves-Bold.woff") format("woff"),
    url("../fonts/TTHoves-Bold.ttf") format("truetype");
  font-weight: bold; // 700
  font-style: normal;
}

// Colors
$color-bg-gradient-start: #f0f6ff;
$color-bg-gradient-end: #f3f3f3;
$color-surface-primary-50: rgba(255, 255, 255, 0.5);
$color-primary-500: #007bff;
$text-primary: #212121;
$text-primary-dark: #141414;
$button-primary-outline: #7aa5e9;
$button-primary-default: #2169db;

// surface
$surface-primary-50: rgba(255, 255, 255, 0.5);
$surface-primary-light: #fff;
$surface-secondary-accent-10: rgba(33, 105, 219, 0.1);

// spacing
$spacing-xs: 10px;
$spacing-md: 12px;
$spacing-xl: 20px;
$spacing-2xl: 24px;
$spacing-3xl: 32px;
$spacing-6xl: 40px;
$spacing-gap: 16px;

// padding
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-6xl: 40px;

// border Radius
$radius-2xl: 24px;
$radius-xl: 12px;
$radius-md: 12px;
$radius-null: 0;

// stroke
$stroke-primary-80: rgba(255, 255, 255, 0.8);

// typography
$font-size-base: 16px;
$font-size-lg: 18px;
$font-weight-bold: 700;
$font-family-base: "TT Hoves", sans-serif;

// time duration preview typography
$display-medium-small-size: 36px;
$display-medium-small-line-height: 40px;
$display-medium-small-tracking: -0.1px;

// font size
$title-demibold-large-size: 20px;
$body-medium-medium-size: 16px;
$label-medium-size: 12px;
$title-medium-large-size: 20px;

// tracking
$title-demibold-large-tracking: -0.1px;
$body-medium-medium-tracking: 0;
$display-medium-large-tracking: -0.1px;
$label-medium-tracking: 0.2px;
$title--medium-large-tracking: -0.1px;

// Line height
$label-medium-line-height: 16px;
$body-medium-medium-line-height: 22px;
$title-medium-medium-line-height: 24px;
$title-medium-large-line-height: 26px;
$title-demibold-large-line-height: 26px;
$display-medium-large-line-height: 56px;

// Typography -- start and end time under ride duration
$headline-medium-medium-size: 24px;
$headline-medium-medium-line-height: 32px;
$headline-medium-medium-tracking: -0.2px;

// stepper variable needed
$step-size: 20px;
$active-size: 32px;
$primary: #1976d2;
$bg-track: #d7dee7;
$bg-fill: #1976d2;
$bg-fill-light: #eaf3ff;
